{% extends "base.html" %}

{% block content %}
  <h1>О приюте</h1>
  <p>
    Наш приют для собак был основан в 2012 году командой волонтёров при 
    поддержке горожан и местных властей. Для него выделили территорию, 
    установили забор, построили первые вольеры и приняли первых постояльцев — 
    бездомных собак с улиц нашего города.
  </p>
  <p>
    С тех пор более 600 собак и кошек нашли новый дом.
    Сейчас в приюте проживает 128 собак и 20 кошек. Для них 
    были построены 39 вольеров и отапливаемые кошачий домик и стационар. Приюту
    на постоянной основе помогают больше 20 волонтеров, а также неравнодушные
    горожане, приезжающие с разовой поддержкой.
  </p>
  <p>
    Приют руководствуется принципами гуманного обращения с животными и не
    выпускает бездомных собак обратно на улицы города. Они остаются у нас
    приюте до пристройства или естественной смерти от старости и заболеваний.
  </p>
  <h3>Результаты работы приюта</h3>
  <ul>
    <li>
      Благодаря нашим усилиям, в жилых районах нет бездомных собак. Даже 
      редкие случаи самовыгула вызывают у горожан бурное обсуждение, что 
      говорит о высокой осведомлённости людей.
    </li>
    <li>
      В приют приезжают экскурсии из школ и детских садов, а в образовательных 
      учреждениях проводятся акции в поддержку приюта. Дети и взрослые 
      запоминают наших подопечных и интересуются их судьбой при следующих 
      визитах.

    </li>
    <li>
      Мы помогаем формировать гуманное отношение к бездомным животным. Приют 
      не только заботится о собаках и кошках, но и проводит лекции о правилах 
      безопасности при встрече с бездомными и дикими животными, а также 
      рассказывает об ответственном содержании питомцев.

    </li>
  </ul>
  <p>
    Мы верим, что наша работа делает мир добрее, а судьбы животных — лучше.
  </p>

{% endblock %}