{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="help-section">
  <div class="container">
    <h1 class="section-title">Как нам помочь</h1>

    <div class="help-container">
      <div class="help-box">
        <h3>Финансово</h3>
        <p>
          Вы можете сделать перевод на расчетный счет приюта по реквизитам:
        </p>
        <ul>
          <li>ИНН: 7447317339</li>
          <li>Счёт: 40703810872000021177</li>
          <li>БИК банка: 047501602</li>
        </ul>
        <p>
          Или отсканировав QR-код в приложении любого банка (реквизиты заполняются автоматически).  
          Также можно оплатить долги перед Ветпрактикой, 40 лет Октября 5а, просто скажите администратору.  
          По всему городу стоят ящики для пожертвований — вдруг у вас завалялась мелочь.
        </p>
        <img src="{% static 'images/donate_qr.jpg' %}" alt="QR-код для доната" class="donate-qr-help">
      </div>

      <div class="help-box">
        <h3>Вещами</h3>
        <p>
          Корма, лекарства, наполнитель, амуницию — можно привезти в приют (предварительно списавшись с волонтерами) или оставить в Ветпрактике или любом их магазине — мы заберем.
        </p>
      </div>

      <div class="help-box">
        <h3>Остатки строительных материалов</h3>
        <p>
          Если у вас остались строительные материалы, можно написать в ЛС группы ВК.
        </p>
      </div>

      <div class="help-box">
        <h3>Руками</h3>
        <p>
          Иногда нам нужна помощь руками или транспортом — об этом мы пишем на стене сообщества.
        </p>
      </div>
    </div>

    <div class="help-footer">
      <p>
        Самый простой способ помочь — поставить лайк в нашем сообществе ВК, сделать репост или написать содержательный комментарий — так алгоритмы ВК покажут пост большему числу людей!
      </p>
      <p>
        Мы будем благодарны вам за любую помощь)
      </p>
    </div>
  </div>
</section>
{% endblock %}