{% extends "base.html" %}

{% block content %}
  <h1>Как нам помочь</h1>
  <ul>
    <li>
      <h3>Финансово</h3>
      Вы можете сделать перевод на расчетный счет приюта по реквизитам:
      <ul>
        <li>
          ИНН: 7447317339
        </li>
        <li>
          Счёт: 40703810872000021177
        </li>
        <li>
          БИК банка: 047501602
        </li>
      </ul>
      Или отсканировав этот QR-код в приложении любого банка (реквизиты 
      автоматически заполняются):
      Также вы можете оплатить наши долги перед Ветпрактикой, 40 лет Октября 
      5а, просто скажите администратору, что хотите помочь. 
      
      А еще по всему городу стоят ящики для пожертвований - вдруг у вас 
      завалялась ненужная мелочь)
    </li>
    <li>
      <h3>Вещами</h3>
      Корма, лекарства, наполнитель, амуницию - можно привезти в приют
      (предварительно списавшись с волонтерами) или оставить в Ветпрактике или 
      любом их магазине - мы заберем.
    
    
    </li>
    <li>
      <h3>Остатки строительных материалов</h3>
      Если у вас остались строительные материалы, можно написать Константину 
      (https://vk.com/id302045867), он отвечает за ремонт приюта.
    </li>
    <li>
      <h3>Руками</h3>
      Иногда нам нужна помощь руками или транспортом - об этом мы пишем на стене 
      сообщества.
    </li>
  </ul>
    <p>
      Самый простой способ помочь - поставить лайк в нашем сообществе ВК, 
      сделать репост или написать содержательный комментарий - так алгоритмы ВК
       решат, что пост интересный, и его увидит как можно больше людей!</p>
    <p>
      Мы будем благодарны вам за любую помощь)
    </p>
{% endblock %}