{% extends "base.html" %}
{% load static %}

{% block title %}Как нам помочь{% endblock %}

{% block content %}
<section class="about-section post-detail-section">
  <div class="post-detail-container about-grid">
    <h1 class="adoption-title">Как нам помочь</h1>
        <h3>Финансово</h3>
        <p>
          Вы можете сделать перевод на расчетный счет приюта по реквизитам:
        </p>
        <ul>
          <li><b>ИНН</b>: 7447317339</li>
          <li><b>Счёт</b>: 40703810872000021177</li>
          <li><b>БИК банка</b>: 047501602</li>
        </ul>
        <p>
          Или отсканировав QR-код в приложении любого банка (реквизиты заполняются автоматически).  
        </p>
        <p> 
          Также можно оплатить наши долги перед <b>Ветпрактикой, 40 лет Октября 5а</b>, просто скажите об этом администратору.  
        </p>
        <p>
          По всему городу стоят ящики для пожертвований — вдруг у вас завалялась мелочь.
        </p>
        <img src="{% static 'images/donate_qr.jpg' %}" alt="QR-код для доната" class="donate-qr-help">
        <p class='post-text'>
          Ежемесячные финансовые отчеты доступны <a href="{% url 'pages:report' %}">здесь</a>.
        </p>
        <h3>Вещами</h3>
        <p>
          Корма, лекарства, наполнитель, амуницию — можно привезти в приют (предварительно списавшись с волонтерами) или оставить в Ветпрактике или любом их магазине — мы заберем.
        </p>


        <h3>Остатки строительных материалов</h3>
        <p>
          Если у вас остались строительные материалы, можно написать в ЛС <a href="https://vk.com/zoosnejinsk" target="_blank">группы ВК</a>.
        </p>

        <h3>Руками</h3>
        <p>
          Иногда нам нужна помощь руками или транспортом — об этом мы пишем на стене сообщества.
        </p>
      <p>
        Самый простой способ помочь — поставить лайк в нашем сообществе ВК, сделать репост или написать содержательный комментарий — так алгоритмы ВК покажут пост большему числу людей!
      </p>
      <p>
        Мы будем благодарны вам за любую помощь)
      </p>
  </div>
</section>
{% endblock %}