{% extends 'base.html' %}
{% load static %}

{% block title %}Правила поведения в приюте{% endblock %}

{% block content %}
<section class="about-section post-detail-section">
  <div class="post-detail-container about-grid">
  <div class="post-text">
    <h1 class="rules-title">Правила поведения в приюте</h1>
    <p>Уважаемые гости приюта!</p>
    <p>Приют — это не развлекательный парк.</p>
    <p>На территории действует установленный распорядок дня. Если вы приезжаете раньше или позже назначенного времени, 
    работа волонтёров сдвигается. Просим относиться к ним с уважением.</p>

    <p>Кормить собак можно только тем лакомством, которое выдал или одобрил волонтер
     (собаки будут всегда рады обычному  печенью без изюма или какао).</p> 
     <br>
    <h2>Чтобы ваше посещение прошло безопасно и приятно для всех, просим соблюдать следующие правила.</h2>
      <br>
    <h3 class="post-subtitle">Правила посещения приюта</h2>
      <br>
    <ol class="rules-list">
      <li>
        <strong>Согласуйте визит заранее.</strong>  
        Напишите в сообщения сообщества (кнопка «Сообщение» на странице группы ВК). 
        Волонтёры подскажут удобное время и кто будет на месте. 
        Помните: приют — частный, и без согласования на территорию могут не пустить.
      </li>
      <br>

      <li>
        <strong>Всегда закрывайте за собой двери.</strong>  
        Если собаки выбежали, сразу сообщите волонтёрам.
      </li>
      <br>

      <li>
        <strong>Согласовывайте, что привозите.</strong>  
        Перед визитом уточните, какие корма, лакомства, лекарства, игрушки или препараты действительно нужны.
      </li>
      <br>

      <li>
        <strong>Если приезжаете с детьми — предупредите заранее.</strong>  
        Без согласования вы не будете допущены на территорию. 
        Проведите с ребёнком беседу, как вести себя с незнакомыми собаками. 
        Следите за детьми: не позволяйте им заходить в вольеры или тянуть руки к животным без разрешения волонтёров. 
        Ответственность за ребёнка несёте вы.
      </li>
      <br>

      <li>
        <strong>Во время первого визита — не спешите гладить собак.</strong>  
        Помните, что вы приходите на территорию животных, которые могут охранять своё место. 
        Позвольте собаке привыкнуть, принюхаться, и следуйте советам волонтёров. 
        Постоянные гости быстро замечают, как собаки узнают их и радуются встрече.
      </li>
      <br>

      <li>
        <strong>Сообщайте о недомоганиях животных.</strong>  
        Замеченные рвота, понос, вялость, травмы — повод сразу сказать волонтёру. 
        Лечение проводится только по назначению ветеринара и выполняется врачом или волонтёром.
      </li>
      <br>
  
      <li>
        <strong>С некоторыми животными общаются только волонтёры.</strong>  
        Часть животных проходит социализацию, и их выгул проходит строго под контролем. 
        Если волонтёр просит подождать — отойдите и дождитесь, когда выгул закончится.
      </li>
      <br>

      <li>
        <strong>Помните:</strong>  
        мы всегда рады гостям! Волонтёры ответят на все вопросы, покажут животных, всё расскажут. 
        Время в приюте проходит быстро — пожалуйста, проявите терпение и уважение.  
        Любые действия (кормление, выгул, контакт с животными) совершаются только с разрешения волонтёра.  
        И главное — не проходите мимо, когда кто-то из хвостатых явно просит погладить его :)
      </li>
    </ol>
  </div>
</section>
{% endblock %}