{% extends "base.html" %}

{% block content %}
<section class="links-section">
  <div class="container">
    <h1 class="section-title">Полезные ссылки</h1>
    <p class="links-container">Здесь мы собрали полезные ссылки на сообщества, помогающие нашему приюту:</p>
    <br>
    <div class="links-container">
      <div class="link-box">
        <h3>Ветеринарная клиника "Ветпрактика"</h3>
        <p>Клиника, которая регулярно поддерживает приют:</p>
        <a href="vk.com/vetpraktikasnz" target="_blank">vk.com/vetpraktika_snz</a>
      </div>

      <div class="link-box">
        <h3>Зоогостиница "ЛЕО"</h3>
        <p>Место, где можно оставить своего зверя и не бояться за его безопасность:</p>
        <a href="https://vk.com/zoo_hotel_leo" target="_blank">https://vk.com/zoo_hotel_leo</a>
      </div>

      <div class="link-box">
        <h3> Grooom - студия груминга</h3>
        <p>Наш волонтер работает грумером:</p>
        <a href="https://vk.com/snzgroom" target="_blank">https://vk.com/snzgroom</a>
      </div>

      <div class="link-box">
        <h3> Адресники для собак</h3>
        <p>Адресники от нашего волонтера:</p>
        <a href="https://vk.com/dogtag_snz" target="_blank">https://vk.com/dogtag_snz</a>
      </div>
      
      <div class="link-box">
        <h3> ГРУЗОПЕРЕВОЗКИ «777»</h3>
        <p>Эти ребята постоянно помогают приюту с тяжестями:</p>
        <a href="https://vk.com/gruzoff001" target="_blank">https://vk.com/gruzoff001</a>
      </div>
      
    </div>
  </div>
</section>
{% endblock %}