{% extends "base.html" %}
{% load static %}

{% block title %}Посетителям{% endblock %}

{% block content %}
<section class="about-section post-detail-section">
  <div class="post-detail-container about-grid">
    <!-- Текстовая колонка -->
    <div class="post-content-box">
      <h1 class="post-title">Посетителям</h1>
        <h2 class="post-subtitle">Как добраться до приюта </h2>
        <p class="post-text">Приют находится около ЖБИ. Внимание для иногородних посетителей, это - в черте города, требуется пропуск. Поворот направо, если ехать в сторону 2КПП, едете мимо гаражей и поворачиваете опять направо.<p>
            <br>
            <img src="{% static 'images/how_to_get.jpg' %}" alt="Как добраться" style="width:80%;margin-left:10%">
            <p class="post-text"><i>Схема проезда.</i></p>
            <br>
            <p class="post-text">
                    Также приют присутствует на <a href="https://yandex.com/maps/-/CPRWnYlS">Яндекс Картах</a>, 
                    (кстати, ставьте нам там хорошие оценки и пишите отзывы!), можно построить маршрут до приюта из любой точки города.
                </p>
                <br>
            <div id="map" style="width:80%;margin-left:10%"></div>
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
        <script>
        ymaps.ready(function () {
            var map = new ymaps.Map('map', {center: [56.059623, 60.773868], zoom: 14});
            var placemark = new ymaps.Placemark([56.059623, 60.773868], {hintContent: 'Приют «Друг из приюта»'});
            map.geoObjects.add(placemark);
        });
        </script>
    <h2 class="post-subtitle">График работы</h2>
      <p class="post-text">
        Увы, из-за нехватки волонтеров мы вынуждены ограничивать время посещения 
        приюта.
        Приют принимает посетителей по воскресеньям, с <b>13.00</b> до <b>16.00</b>. 
        В иные дни - по договоренности с волонтерами через личные сообщения в 
        <a href="https://vk.com/zoosnejinsk" target="_blank" rel="noopener"><b>нашей группе в ВК</b></a>.
        Но все-таки, помните, что в первую очередь волонтеры занимаются обеспечением 
        базовых потребностей наших подопечных, и уже потом - приемом гостей, если 
        на это хватит сил и желания.
      </p>
      <p class="post-text">Это же касается и выгула собак. У нас <i>физически</i> нет возможности 
    организовать прогулки на поводках. Все, что мы можем предложить - это 
    возможность покормить и погладить наших подопечных. </p>
      <p class="post-text">
      Правила поведения в приюте описаны в отдельном <a href="{% url 'pages:rules' %}">разделе</a>.
      </p>
      <h2 class="post-subtitle">Вы собрались прийти</h2>
      <p class="post-text">
      Итак, вы уже знаете, где находится приют, договорились по времени, ознакомились 
      с правилами поведения и готовитесь к посещению нашего приюта. 
      Что сделать, чтобы не пожалеть о задуманном?
      </p>
      <ol class="post-text">
        <li>Во-первых, одежда. Одевайтесь по погоде. Всегда выбирайте <b>то, что не жалко</b>.  
            Приют - это грязно, вонюче и шумно. Собаки не обременены воспитанием 
            и ставят лапки, можно зацепиться обо что-то и испортить вещи.</p>
            <p>Если вы собираетесь посетить нас весной или осенью, обязательно 
            надевайте резиновые (или из ЭВА - все волонтеры в таких ходят) сапоги! 
            Поверьте, без них в приюте делать нечего.</li>
        <li>
            Во-вторых, дары собакам. Мы не вымогатели (в отличие от наших псов), 
                но посещение пройдет куда радостнее, если вы принесете с собой 
                безопасные для собак лакомства. Что-то из зоомагазина покупать 
                не обязательно. <br> Достаточно простого 
                печенья <b>без изюма, какао и лука</b> (эти продукты ядовиты для собак!)
                или пачки недорогих сосисок. Правда, с сосисками стоит быть осторожными - 
                собаки их очень любят и некоторые путают с пальцами... <br>
                Хотя на самом деле, наши собаки нисколечки не голодают, и 
                выпрашивание еды у вас - это способ развлечься, получить новую 
                информацию и запахи из внешнего мира. Не отнимайте этого у собак! </li> 
        <li>Ну и да, мы всегда будем рады любой помощи. Подробнее о способах помочь 
                нам можно прочитать <a href="{% url 'pages:help_us' %}">здесь</a>.</li>
        </ul>   
            <h2 class="post-subtitle">Организованные экскурсии</h2>
        <p class="post-text">
            Мы принимаем организованные экскурсии от детских садов и школ. 
            Чтобы договориться, пишите <a href="https://vk.com/zoosnejinsk" target="_blank" rel="noopener"><b>в личные сообщения группы приюта</b></a> 
            или сразу <a href="https://vk.com/gasuaska" target="_blank" rel="noopener">вот этому волонтеру</a>.
        </p>
        <p class="post-text">
            Кратко об экскурсиях. Ориентировочно - воскресенье с 12 до 16 часов или суббота с 13 часов. 
            Продолжительность - примерно один час. Вы сфотографируетесь, покормите собак 
            печеньем всех наших собак, если взрослые не против, дети могут пообщаться с <b>ооочень добрыми</b> 
            собаками, несколько минут послушаете основную информацию про приют и 
            правила безопасного общения с животными. Обычно всем нравится (либо они очень вежливы).
        </p>
        <h2 class="post-subtitle">Кошачий домик</h2>
        <p class="post-text">
        На территории приюта построен еще и отапливаемый домик для кошек. В нем 
        они живут. Но! Большая часть кошек в домике - дикие, они расстраиваются 
        от людей, и посещать их можно только по договоренности с волонтерами. 
        У нас нет свободного посещения кошек.
      </p>
      <br>
      <p class="post-text">
        Вроде бы, все. Ждем вас в обозначенное время. Если вы дочитали до сюда, 
        вы готовы к посещению приюта.
      </p>
      <p class="post-text">
        <b>И помните, собаки вас очень ждут!</b>
      </p>
  </div>
    <div class="about-image-box">
    </div>
  </div>
   </div>
</section>
{% endblock %}