{% extends "base.html" %}

{% block content %}
  <h1>Список собак</h1>
  <ul>
    <li>
      <img src="" alt="Фото собаки" width="20%" height="30%">
      <a href="{% url 'dogs:dog_detail' pk=1 %}">Имя собаки</a>
    </li>
    <li>
      <img src="" alt="Фото собаки" width="20%" height="30%">
      <a href="{% url 'dogs:dog_detail' pk=1 %}">Имя собаки</a>
    </li>
    <li>
      <img src="" alt="Фото собаки" width="20%" height="30%">
      <a href="{% url 'dogs:dog_detail' pk=1 %}">Имя собаки</a>
    </li>
    <li>
      <img src="" alt="Фото собаки" width="20%" height="30%">
      <a href="{% url 'dogs:dog_detail' pk=1 %}">Имя собаки</a>
    </li>
    <li>
      <img src="" alt="Фото собаки" width="20%" height="30%">
      <a href="{% url 'dogs:dog_detail' pk=1 %}">Имя собаки</a>
    </li>
    <li>
      <img src="" alt="Фото собаки" width="20%" height="30%">
      <a href="{% url 'dogs:dog_detail' pk=1 %}">Имя собаки</a>
    </li>
    <li>
      <img src="" alt="Фото собаки" width="20%" height="30%">
      <a href="{% url 'dogs:dog_detail' pk=1 %}">Имя собаки</a>
    </li>
  </ul>
{% endblock %}