 {% load static %}
<nav class="navbar">
  <div class="navbar-container site-header">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/logo.jpg' %}" alt="Друг из приюта" class="logo-img">
      <span class="brand-text">Друг из<br>приюта</span>
    </a>

    <button class="navbar-toggle" aria-label="Открыть меню">
      &#9776;
    </button>

    <ul class="navbar-menu">
      <li><a href="{% url 'dogs:dogs_list' %}">Собаки</a></li>
      <li><a href="{% url 'cats:cats_list' %}">Кошки</a></li>
      <li><a href="{% url 'pages:about' %}">О нас</a></li>
      <li><a href="{% url 'blog:blog_list' %}">Статьи</a></li>
      <li><a href="{% url 'pages:contacts' %}">Контакты</a></li>
      <li><a href="{% url 'pages:useful_links' %}">Ссылки</a></li>
      <li><a href="{% url 'pages:rules' %}">Правила посещения</a></li>
      <li class="help-link"><a href="{% url 'pages:help_us' %}">Помочь</a></li>
    </ul>
  </div>
</nav>