{% extends "base.html" %}
{% load static %}
{% block title %}Детали - {{ cat.name }}{% endblock %}
{% block content %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
/>

<h1 class="dog-name-detail">{{ cat.name }}</h1>

<div class="dog-detail-container">
    <div class="dog-text">
        <ul>
            <li><b>Возраст:</b> {{ cat.age_display }}</li>
            <li><b>Пол:</b> {{ cat.gender_display }}</li>
            <li><b>В приюте с:</b> {{ cat.intake_year }} года</li>
            <li><b>Иммунодефицит кошек:</b> {{ cat_status.fiv_status_display }} </li>
            <li><b>Лейкоз кошек:</b> {{ cat_status.felv_status_display }} </li>
        </ul>
        <br>
        <p>{{ cat_description.bio|safe }}</p>
        <br>
        <p>{{ cat_description.character|safe }}</p>
        <br>
        <p>{{ cat_description.best_owner|safe }}</p>
    </div>
    <div class="swiper dog-detail-container two-columns">
        <div class="swiper-wrapper">
            {% for photo in cat_photos %}
            <div class="swiper-slide">
                <img src="{{ photo.image.url }}" alt="{{ cat.name }}">
            </div>
            {% endfor %}
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        </div>
    </div>
</div>

<div id="image-overlay" class="image-overlay hidden">
    <img id="overlay-image" src="" alt="">
</div>

<div class="dogs-container">
<a href="https://vk.me/club38877901" target="_blank" class="btn">
    Хочу взять кошку!
    </a>
</div>
<div class="dogs-container">
    {% for tag in dog.tags.all %}
        <a href="{% url 'cats:cat_list_by_tag' tag.slug %}" class="tag-button">{{ tag.name }}</a>
    {% empty %}
        <p =dogs-container>У этой кошки пока нет тегов.</p>
    {% endfor %}
</div>

<section class="section">
    <h2 class="section-title">СЛУЧАЙНЫЕ ПРЕКРАСНЫЕ КОТИКИ</h2>
<div class="dogs-container">
    {% for cat in random_cats %}
      {% include "includes/cat_card.html" %}
    {% endfor %}
</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
<script>
const swiper = new Swiper('.swiper', {
  direction: 'horizontal',
  loop: true,

  pagination: {
    el: '.swiper-pagination',
  },

  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});

// === ЛАЙТБОКС ===
const overlay = document.getElementById('image-overlay');
const overlayImg = document.getElementById('overlay-image');

// клик по картинке
document.querySelectorAll('.swiper-slide img').forEach(img => {
    img.addEventListener('click', () => {
        overlayImg.src = img.src;
        overlay.classList.remove('hidden');
    });
});

// клик по фону закрывает
overlay.addEventListener('click', () => {
    overlay.classList.add('hidden');
});
</script>

{% endblock %}