{% extends "base.html" %}

{% block content %}
  <a href="{% url 'dogs:dogs_list' %}"><h2>Выбрать собаку</h2></a>
  <a href="{% url 'cats:cats_list' %}"><h2>Выбрать котика</h2></a>
  <h2>Помочь финансово</h2>
  <ul>
    <li>
      ИНН: 7447317339
    </li>
    <li>
      Счёт: 40703810872000021177
    </li>
    <li>
      БИК банка: 047501602
    </li>
  </ul>
  <h3>О приюте</h3>
  <p>
    Наш приют помогает животным с 2012 года (зарегистрировано АНО «Из приюта
    домой» 07.03.2018 года).</p>
  <p>
    За это время свой дом нашли более 600 животных.
    Сейчас мы заботимся о более чем 150 собаках и кошках. Все они ищут свой 
    дом и хозяина!
  </p>
  <p>
    На данный момент приют для бездомных животных города Снежинска 
    зарегистрирован как АНО «Друг из приюта» и ставит перед собой задачи:
  </p>
  <ol>
    <li>
      Контроль численности бездомных животных на территории города 
      Снежинска и его окрестностей;
    </li>
    <li>
      Пропаганда ответственного обращения с домашними животными;
    </li>
    <li>
      Воспитание в детях гуманного отношения по отношению к животным.
    </li>
  </ol>
{% endblock %}