{% extends "base.html" %}
{% load static %}
{% block title %}Детали - {{ dog.name }}{% endblock %}
{% block content %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
/>

<h1 class="dog-name-detail">{{ dog.name }}</h1>

<div class="dog-detail-container two-columns">
    <div class="dog-text">
        <div>
            <ul>
                <li><b>Возраст:</b> {{ dog.age_display }}</li>
                <li><b>Пол:</b> {{ dog.gender_display }}</li>
                <li><b>Рост:</b> {{ dog.height_display }}</li>
                <li><b>В приюте с:</b> {{ dog.intake_year }} года</li>
            </ul>
            <br>
            <p>{{ dog_description.bio|safe }}</p>
            <br>
            <p>{{ dog_description.character|safe }}</p>
            <br>
            <p>{{ dog_description.best_owner|safe }}</p>
        </div>
    </div>

    <div class="swiper dog-detail-container two-columns">
    <div class="swiper-wrapper">
        {% for photo in dog_photos %}
        <div class="swiper-slide">
            <img src="{{ photo.image.url }}" alt="{{ dog.name }}">
        </div>
        {% endfor %}
    </div>
    
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    </div>
</div>

<div id="image-overlay" class="image-overlay hidden">
    <img id="overlay-image" src="" alt="">
</div>

<div class="dogs-container">
<a href="https://vk.me/club38877901" target="_blank" class="btn">
    Хочу взять собаку!
    </a>
</div>

<div class="dogs-container">
    {% for tag in dog.tags.all %}
        <a href="{% url 'dogs:dog_list_by_tag' tag.slug %}" class="tag-button">{{ tag.name }}</a>
    {% empty %}
        <p =dogs-container>У этой собаки пока нет тегов.</p>
    {% endfor %}
</div>
    
<section class="section">
    <h2 class="section-title">СЛУЧАЙНЫЕ ПРЕКРАСНЫЕ СОБАКИ</h2>
<div class="dogs-container">
    {% for dog in random_dogs %}
      {% include "includes/dog_card.html" %}
    {% endfor %}
</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
    direction: 'horizontal',
    loop: true,

    pagination: {
        el: '.swiper-pagination',
    },

    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    });

    // === ЛАЙТБОКС ===
    const overlay = document.getElementById('image-overlay');
    const overlayImg = document.getElementById('overlay-image');

    // клик по картинке
    document.querySelectorAll('.swiper-slide img').forEach(img => {
        img.addEventListener('click', () => {
            overlayImg.src = img.src;
            overlay.classList.remove('hidden');
        });
    });

    // клик по фону закрывает
    overlay.addEventListener('click', () => {
        overlay.classList.add('hidden');
    });
</script>
{% endblock %}